In [2]:
import pandas as pd
import numpy as np

In [3]:
df_fb = pd.read_json('../data/facebook_job_posts.json')
df_fb.head()

,post_id,text,post_text,shared_text,original_text,time,timestamp,image,image_lowquality,images,...,sharers,image_id,image_ids,was_live,header,video_ids,videos,listing_title,listing_price,listing_location
0,1357999284721525,‚ÄºÔ∏è‚ÄºÔ∏è4.000 - 6.000 z≈Ç za spisanie i zamkniƒôcie ...,‚ÄºÔ∏è‚ÄºÔ∏è4.000 - 6.000 z≈Ç za spisanie i zamkniƒôcie ...,,NaN,1651429010000,2022-05-01 16:16:50,None,None,[],...,NaN,NaN,[],False,Sebastian MyLife‚ÄéPraca Warszawa (i okolice!),None,None,None,None,None
1,1512648315923287,WARSZAWA!\n\nPotrzebujƒô hostessy lub hosta! üôÇ\...,WARSZAWA!\n\nPotrzebujƒô hostessy lub hosta! üôÇ\...,,NaN,1669559695000,2022-11-27 13:34:55,None,None,[],...,NaN,NaN,[],False,Paulina Lisiecka‚ÄéPraca Warszawa (i okolice!),None,None,None,None,None
2,1512730425915076,PRACA OD JUTRA\nZatrudniƒô pe≈Çnoletnie osoby do...,PRACA OD JUTRA\nZatrudniƒô pe≈Çnoletnie osoby do...,,NaN,1669567643000,2022-11-27 15:47:23,None,None,[],...,NaN,NaN,[],False,Ewa Konicka‚ÄéPraca Warszawa (i okolice!),None,None,None,None,None
3,1512510969270355,W zwiƒÖzku z dynamicznie rozwijajƒÖcym siƒô Zespo...,W zwiƒÖzku z dynamicznie rozwijajƒÖcym siƒô Zespo...,,NaN,1669545258000,2022-11-27 09:34:18,None,None,[],...,NaN,NaN,[],False,Daniel Milczarek‚ÄéPraca Warszawa (i okolice!),None,None,None,None,None
4,1512608312593954,"dzie≈Ñ dobry, szukam pracy przy sprzƒÖtaniu mies...","dzie≈Ñ dobry, szukam pracy przy sprzƒÖtaniu mies...",,NaN,1669555810000,2022-11-27 12:30:10,None,None,[],...,NaN,NaN,[],False,–î—ñ–∞–Ω–∞ –ú–∞—Ü—å–∫–æ‚ÄéPraca Warszawa (i okolice!),None,None,None,None,None

In [4]:
df_fb = df_fb[['post_id', 'text']]
df_fb.head()

            post_id                                               text
0  1357999284721525  ‚ÄºÔ∏è‚ÄºÔ∏è4.000 - 6.000 z≈Ç za spisanie i zamkniƒôcie ...
1  1512648315923287  WARSZAWA!\n\nPotrzebujƒô hostessy lub hosta! üôÇ\...
2  1512730425915076  PRACA OD JUTRA\nZatrudniƒô pe≈Çnoletnie osoby do...
3  1512510969270355  W zwiƒÖzku z dynamicznie rozwijajƒÖcym siƒô Zespo...
4  1512608312593954  dzie≈Ñ dobry, szukam pracy przy sprzƒÖtaniu mies...

In [5]:
df_fb.shape

(478, 2)

In [6]:
df_fb['text'] = df_fb['text'].apply(lambda x: x if 'szukam pracy' not in x.lower() else '')
df_fb['text'] = df_fb['text'].apply(lambda x: x if 'poszukuje pracy' not in x.lower() else '')
df_fb['text'] = df_fb['text'].apply(lambda x: x if 'poszukujƒô pracy' not in x.lower() else '')
df_fb['text'] = df_fb['text'].apply(lambda x: np.nan if x == '' else x)
df_fb = df_fb.dropna()

In [7]:
df_fb.shape

(430, 2)

In [8]:
df_fb.rename(columns={'post_id': 'id'}, inplace=True)

In [9]:
df_fb.to_csv('../data/fb.csv', index=False)
with open('../data/fb.json', 'w', encoding='utf-8') as f:
  df_fb.to_json(f, force_ascii=False, orient='records')