In [44]:
import pandas as pd
import numpy as np
import re
import uuid

In [45]:
fb_dataset_path = '../data/fb.json'
olx_dataset_path = '../data/olx_remote_work.json'
o24_dataset_path = '../data/oglaszamy24.json'
jh_dataset_path = '../data/jobhunter_cleaned.json'

In [46]:
df_fb = pd.read_json(fb_dataset_path)
df_olx = pd.read_json(olx_dataset_path)
df_o24 = pd.read_json(o24_dataset_path)
df_jh = pd.read_json(jh_dataset_path)

In [47]:
df_fb.head()

                 id                                               text
0  1357999284721525  硷硷4.000 - 6.000 z za spisanie i zamknicie ...
1  1512648315923287  WARSZAWA!\n\nPotrzebuj hostessy lub hosta! \...
2  1512730425915076  PRACA OD JUTRA\nZatrudni penoletnie osoby do...
3  1512510969270355  W zwizku z dynamicznie rozwijajcym si Zespo...
4  1505264493328336  Przy komputerze\nUmowa, wynagrodzenie co miesi...

In [48]:
df_fb['id'] = df_fb['id'].astype(str)

In [49]:
df_olx.head()

,id,text
0,http://www.olx.pl/oferta/praca/praca-zdalna-40...,"Nie, to nie pomyka! Nie musisz dalej szuka, ..."
1,http://www.olx.pl/oferta/praca/praca-w-domu-dl...,W zwizku z pr偶nie rozwijajcym si projektem...
2,http://www.olx.pl/oferta/praca/ankieter-zdalny...,Poszukujemy osoby do pracy zdalnej na stanowis...
3,http://www.olx.pl/oferta/praca/praca-handlowie...,Wynagrodzenie: 5-7 tys. z.Umowa o pracGodz. ...
4,http://www.olx.pl/oferta/praca/prowadzacy-kolk...,Jeste studentem kierunk贸w informatycznych lub...

In [50]:
df_o24.head()

,id,text
0,http://krakow.oglaszamy24.pl/ogloszenie/154952...,"Witam, tak jak w tytule poszukuj kobiete do s..."
1,http://opole.oglaszamy24.pl/ogloszenie/1885440...,"Chcesz zbudowa, odnowi, przywr贸ci lub po pr..."
2,http://warszawa.oglaszamy24.pl/ogloszenie/1017...,"Medycyna pracy od rki ,badania wysokociowe,\..."
3,http://lodz.oglaszamy24.pl/ogloszenie/49325871...,"Medycyna pracy od rki ,badania wysokociowe,\..."
4,http://katowice.oglaszamy24.pl/ogloszenie/1330...,"Medycyna pracy od rki ,badania wysokociowe,\..."

In [51]:
df_jh.head()

                                                text  label
0  Poszukujemy osoby do obsugi klienta, kt贸ra b...      0
1  Poszukujemy Specjalisty ds. Obsugi Klienta, k...      0
2  Stanowisko: Specjalista ds. Obsugi Klienta  -...      0
3  Stanowisko: Specjalista ds. Obsugi Klienta  -...      0
4  Stanowisko: Specjalista ds. Obsugi Klienta  -...      0

In [52]:
uuids = [str(uuid.uuid4()) for _ in range(len(df_jh))]
df_jh['id'] = uuids

In [53]:
df_fb['label'] = None
df_olx['label'] = None
df_o24['label'] = None

In [54]:
df_fb.head()

                 id                                               text label
0  1357999284721525  硷硷4.000 - 6.000 z za spisanie i zamknicie ...  None
1  1512648315923287  WARSZAWA!\n\nPotrzebuj hostessy lub hosta! \...  None
2  1512730425915076  PRACA OD JUTRA\nZatrudni penoletnie osoby do...  None
3  1512510969270355  W zwizku z dynamicznie rozwijajcym si Zespo...  None
4  1505264493328336  Przy komputerze\nUmowa, wynagrodzenie co miesi...  None

In [55]:
df_olx.head()

,id,text,label
0,http://www.olx.pl/oferta/praca/praca-zdalna-40...,"Nie, to nie pomyka! Nie musisz dalej szuka, ...",None
1,http://www.olx.pl/oferta/praca/praca-w-domu-dl...,W zwizku z pr偶nie rozwijajcym si projektem...,None
2,http://www.olx.pl/oferta/praca/ankieter-zdalny...,Poszukujemy osoby do pracy zdalnej na stanowis...,None
3,http://www.olx.pl/oferta/praca/praca-handlowie...,Wynagrodzenie: 5-7 tys. z.Umowa o pracGodz. ...,None
4,http://www.olx.pl/oferta/praca/prowadzacy-kolk...,Jeste studentem kierunk贸w informatycznych lub...,None

In [56]:
df_o24.head()

,id,text,label
0,http://krakow.oglaszamy24.pl/ogloszenie/154952...,"Witam, tak jak w tytule poszukuj kobiete do s...",None
1,http://opole.oglaszamy24.pl/ogloszenie/1885440...,"Chcesz zbudowa, odnowi, przywr贸ci lub po pr...",None
2,http://warszawa.oglaszamy24.pl/ogloszenie/1017...,"Medycyna pracy od rki ,badania wysokociowe,\...",None
3,http://lodz.oglaszamy24.pl/ogloszenie/49325871...,"Medycyna pracy od rki ,badania wysokociowe,\...",None
4,http://katowice.oglaszamy24.pl/ogloszenie/1330...,"Medycyna pracy od rki ,badania wysokociowe,\...",None

In [57]:
df_jh.head()

,text,label,id
0,"Poszukujemy osoby do obsugi klienta, kt贸ra b...",0,a4970418-5e77-4784-9f3f-68efeb3e9de4
1,"Poszukujemy Specjalisty ds. Obsugi Klienta, k...",0,c373be67-de1d-4fb5-a316-f798ee48b75c
2,Stanowisko: Specjalista ds. Obsugi Klienta -...,0,69bc2971-441c-415f-bb6b-f4f00d60beaf
3,Stanowisko: Specjalista ds. Obsugi Klienta -...,0,1993dc9a-a654-4473-9f75-61855805b00f
4,Stanowisko: Specjalista ds. Obsugi Klienta -...,0,46864940-d792-41b2-a8ff-ec4a888bb129

In [58]:
df_all = pd.concat([df_fb, df_olx, df_o24, df_jh], ignore_index=True)
df_all.head()

                 id                                               text label
0  1357999284721525  硷硷4.000 - 6.000 z za spisanie i zamknicie ...  None
1  1512648315923287  WARSZAWA!\n\nPotrzebuj hostessy lub hosta! \...  None
2  1512730425915076  PRACA OD JUTRA\nZatrudni penoletnie osoby do...  None
3  1512510969270355  W zwizku z dynamicznie rozwijajcym si Zespo...  None
4  1505264493328336  Przy komputerze\nUmowa, wynagrodzenie co miesi...  None

In [59]:
df_all.shape

(3401, 3)

In [60]:
df_all['text'].nunique()

2883

In [61]:
df_all.dropna(subset=['text'], inplace=True)

In [62]:
df_all['text'] = df_all['text'].apply(lambda x: re.sub('[\W]+', ' ', x))

In [63]:
df_all['text'] = df_all['text'].apply(str.lower)

In [64]:
df_all.head()

                 id                                               text label
0  1357999284721525   4 000 6 000 z za spisanie i zamknicie 1 umo...  None
1  1512648315923287  warszawa potrzebuj hostessy lub hosta 30 11 0...  None
2  1512730425915076  praca od jutra zatrudni penoletnie osoby do ...  None
3  1512510969270355  w zwizku z dynamicznie rozwijajcym si zespo...  None
4  1505264493328336  przy komputerze umowa wynagrodzenie co miesic...  None

In [65]:
df_all.to_csv('../data/all_cleaned_data.csv', index=False)
with open('../data/all_cleaned_data.json', 'w', encoding='utf-8') as f:
  df_all.to_json(f, force_ascii=False, orient='records')