In [2]:
import pandas as pd
import numpy as np
from qdrant_client import QdrantClient
from qdrant_client.http.models import PointStruct, VectorParams, Distance

In [3]:
client = QdrantClient("http://localhost:6333")

client.recreate_collection(
    collection_name="job_listings",
    vectors_config=VectorParams(
        size=768,
        distance=Distance.COSINE
    )
)

True

In [4]:
df = pd.read_json('../data/all_data_polbert_embeddings.json')

In [5]:
df.head()

,text,label,embeddings
0,4 000 6 000 zł za spisanie i zamknięcie 1 umo...,NaN,"[-0.7777841091000001, -0.2634485662, 0.6810794..."
1,warszawa potrzebuję hostessy lub hosta 30 11 0...,NaN,"[-0.8700618744, -0.4192576408, 0.8261056542, 2..."
2,praca od jutra zatrudnię pełnoletnie osoby do ...,NaN,"[-1.3931413889, -0.31156659130000003, 0.704142..."
3,w związku z dynamicznie rozwijającym się zespo...,NaN,"[-0.7349925041, -0.980086863, 0.6741656065, 0...."
4,przy komputerze umowa wynagrodzenie co miesiąc...,NaN,"[-0.6780881882, -0.7579360604000001, 0.4117349..."